*{
    margin: 0;
    padding: 0;
}


html, body{
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
}



.cabecalho__img-1{
    width: 100%;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 480px) {
    .cabecalho__img-1 {
        display: none;
    }
  }

.cabecalho__items{
    height: 100%;
}

img{
    height: 20%;
    width: 20%;
}

.conteudo{
    flex: 1;
}

.conteudo__icons{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.conteudo_icon{
    text-decoration: none;
    color: white;
}

.conteudo_list{
    text-decoration: none;
    color: black;
}

footer{
    flex-shrink: 0;
}



